<footer class="footer">
    <div class="container">
      <div class="footer-column">
        <h3>About Me</h3>
        <p>I am committed to providing the best services and creating innovative solutions for our clients worldwide.</p>
      </div>
      <div class="footer-column">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Contact Me</h3>
        <p>Email: boughrara601&#64;gmail.com</p>
        <p>Phone: +212 665 475 217</p>
        <p>Address: 12 Rue El Akid El Allam Hay Laayoune , Berkane</p>
      </div>
      <div class="footer-column">
        <h3>Follow Me</h3>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/boughrara-hamza-a79715223/" target="_blank"><i class="fas fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/charingan" target="_blank"><i class="fas fa-brands fa-square-github"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Hamza B. All rights reserved.</p>
    </div>
  </footer>
  