<div class="contact-title">
    <h2>Contact</h2>
</div>
<div class="contact">
    <div class="contact-form">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit($event)">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Your Name</mat-label>
              <mat-icon matSuffix>account_circle</mat-icon>
              <input matInput formControlName="name" placeholder="Enter your name" />
              @if (contactForm.get('name')?.invalid && contactForm.get('name')?.touched) 
              {
                <mat-error>
                    Name is required.
                </mat-error>
              }
              
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Your Email</mat-label>
              <mat-icon matSuffix>alternate_email</mat-icon>
              <input matInput formControlName="email" placeholder="Enter your email" />
              @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) 
              {
                <mat-error>
                    Please enter a valid email address.
                </mat-error>
              }
              
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Your Message</mat-label>
              <mat-icon matSuffix>chat</mat-icon>
              <textarea style="max-height: 200px;" matInput formControlName="message" placeholder="Enter your message" rows="5"></textarea>
              @if (contactForm.get('message')?.invalid && contactForm.get('message')?.touched) 
              {
                <mat-error>
                    Message is required.
                </mat-error>
              }
              
            </mat-form-field>
        
            <button mat-button color="primary" type="submit" [disabled]="contactForm.invalid">
                <i class="fas fa-solid fa-paper-plane"></i> Send Message
            </button>
          </form>
    </div>
    <img src="https://i.pinimg.com/736x/72/15/5a/72155aa5297103310fa80815fd93c38e.jpg" alt="fc">
</div>