<div class="certificate-title">
    <h2>Certificates</h2>
</div>


<div class="certificate">
    <div class="certificate-content">
        <a href="certificates/it-support.pdf" target="_blank">
            <img src="certificates/it-support.PNG" alt="IT Support Fundamentals">
        </a>

        <a href="certificates/bits-and-bytes-of-the-internet.pdf" target="_blank">
            <img src="certificates/bits-and-bytes-of-the-internet.PNG" alt="Bits and Bytes of the Internet">
        </a>
    </div>
</div>