@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


$primary-color : black;
$secondary-color : white;
$padding : 20px;
$margin : 20px;
$gap : 50px;
$font-size : 1.6rem;
$font-size-lg : 3rem;


.skills-title{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        font-size: $font-size-lg;
        font-family: "Silkscreen", serif;
        font-weight: 400;
        font-style: normal;
    }
}



.skills{
    height: 90vh;
    box-sizing: border-box;
    min-height: fit-content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: $gap;


    mat-divider {
        height: 40%;
    }


    .front-end , .back-end , .game-dev{
        // border: 1px black solid;
        // border-radius: .3rem;
        padding: 2rem;

        h3 {
            font-family: "Silkscreen", serif;
            font-weight: 400;
            font-style: normal;
            font-size: $font-size;
        }

        .tools {
            display: grid;
            grid-template-columns: repeat(3 , 1fr);
            .tool {
                margin-bottom: 2rem;
                padding: 1rem;
                align-self: center;
                span {
                    font-size: .7rem;
                }

                h4{
                    font-family: "Silkscreen", serif;
                    font-weight: 400;
                    font-style: normal;
                }
                .progress-bar {

                    display: flex;
                    max-width: 80%;
                    margin: 0 auto;
                    ::ng-deep .mdc-linear-progress__bar-inner
                    {
                        border-color: $primary-color;
                    }
                }
            }
        }
        @media (max-width:800px)
        {
            .tools{
                display: grid;
                grid-template-columns: repeat(2 , 1fr);
            }

            h3{
                font-size: 1.2rem;
            }
        }
    }
}


@media (max-width:1251px)
{
    mat-divider{
        display: none;
    }
}

@media (max-width:800px)
{
    .skills-title{
        margin-top: 6rem;
    }
}