<div class="skills-title">
    <h2>Skills</h2>
</div>
<div class="skills">
    <div class="front-end">
        <h3>Frontend Development</h3>
        <div class="tools">
            <div class="tool">
                <h4><i class="fas fa-brands fa-html5"></i> HTML</h4>
                <div class="progress-bar">
                    <mat-progress-bar
                        class="example-margin"
                        mode="determinate"
                        value="80"
                    >
                    </mat-progress-bar>
                </div>
                <span>Experienced</span>
            </div>
            <div class="tool">
                <h4><i class="fas fa-brands fa-css3"></i> CSS</h4>
                <div class="progress-bar">
                    <mat-progress-bar
                        class="example-margin"
                        mode="determinate"
                        value="75"
                    >
                    </mat-progress-bar>
                </div>
                <span>Experienced</span>
            </div>
            <div class="tool">
                <h4><i class="fas fa-brands fa-sass"></i> SASS</h4>
                <div class="progress-bar">
                    <mat-progress-bar
                        class="example-margin"
                        mode="determinate"
                        value="50"
                    >
                    </mat-progress-bar>
                </div>
                <span>Intermediate</span>
            </div>
            <div class="tool">
                <h4><i class="fa-brands fa-square-js"></i> JAVASCRIPT</h4>
                <div class="progress-bar">
                    <mat-progress-bar
                        class="example-margin"
                        mode="determinate"
                        value="50"
                    >
                    </mat-progress-bar>
                </div>
                <span>Intermediate</span>
            </div>
            <div class="tool">
                <h4><i class="fa-solid fa-code"></i> TYPESCRIPT</h4>
                <div class="progress-bar">
                    <mat-progress-bar
                        class="example-margin"
                        mode="determinate"
                        value="50"
                    >
                    </mat-progress-bar>
                </div>
                <span>Intermediate</span>
            </div>
            <div class="tool">
                <h4><i class="fa-brands fa-angular"></i> ANGULAR</h4>
                <div class="progress-bar">
                    <mat-progress-bar
                        class="example-margin"
                        mode="determinate"
                        value="60"
                    >
                    </mat-progress-bar>
                </div>
                <span>Intermediate</span>
            </div>
        </div>
    </div>


    <!-- devider -->
    <!-- <mat-divider vertical></mat-divider> -->
    <!-- devider -->


    <div class="back-end">
        <h3>Backend Development</h3>
        <div class="tools">
            <div class="tool">
                <h4><i class="fa-brands fa-python"></i> PYTHON</h4>
                <div class="progress-bar">
                    <mat-progress-bar
                        class="example-margin"
                        mode="determinate"
                        value="25"
                    >
                    </mat-progress-bar>
                </div>
                <span>Basic</span>
            </div>
            <div class="tool">
                <h4><i class="fa-solid fa-terminal"></i> DJANGO</h4>
                <div class="progress-bar">
                    <mat-progress-bar
                        class="example-margin"
                        mode="determinate"
                        value="35"
                    >
                    </mat-progress-bar>
                </div>
                <span>Basic</span>
            </div>
            <div class="tool">
                <h4><i class="fa-solid fa-terminal"></i> .NET</h4>
                <div class="progress-bar">
                    <mat-progress-bar
                        class="example-margin"
                        mode="determinate"
                        value="35"
                    >
                    </mat-progress-bar>
                </div>
                <span>Basic</span>
            </div>
            <div class="tool">
                <h4><i class="fa-solid fa-database"></i> SQL Server</h4>
                <div class="progress-bar">
                    <mat-progress-bar
                        class="example-margin"
                        mode="determinate"
                        value="30"
                    >
                    </mat-progress-bar>
                </div>
                <span>Basic</span>
            </div>
        </div>
    </div>

    <div class="game-dev">
        <h3>Game Development</h3>
        <div class="tools">
            <div class="tool">
                <h4><i class="fa-solid fa-code"></i> C++</h4>
                <div class="progress-bar">
                    <mat-progress-bar
                        class="example-margin"
                        mode="determinate"
                        value="25"
                    >
                    </mat-progress-bar>
                </div>
                <span>Basic</span>
            </div>
            <div class="tool">
                <h4><i class="fa-solid fa-blender"></i> BLENDER</h4>
                <div class="progress-bar">
                    <mat-progress-bar
                        class="example-margin"
                        mode="determinate"
                        value="35"
                    >
                    </mat-progress-bar>
                </div>
                <span>Basic</span>
            </div>
            <div class="tool">
                <h4><i class="fa-solid fa-cubes"></i> UNREAL ENGINE</h4>
                <div class="progress-bar">
                    <mat-progress-bar
                        class="example-margin"
                        mode="determinate"
                        value="35"
                    >
                    </mat-progress-bar>
                </div>
                <span>Basic</span>
            </div>
        </div>
    </div>

</div>