<div class="project-title">
    <h2>Projects</h2>
</div>
<div class="project">


    <!-- project 1 -->
    <mat-card class="example-card card-2" appearance="raised">
        <img mat-card-image src="resumebuilder.png" alt="ai resume">
        <mat-card-content>
          <p>
            AI-Powered Resume Builder
            Create a standout resume effortlessly with our AI-driven resume builder.
            Simply enter your details, and our intelligent system generates a professional, personalized resume tailored to your career goals.
            Whether you’re applying for your first job or aiming for a promotion
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://github.com/charingan/resume-builder"
              matTooltip="My Github Profile"
              aria-label="icon that shows my github profile"
              matTooltipPosition="left"
              target="_blank"
          >
              <i class="fa-brands fa-github"></i>
              GITHUB
          </a>
          <!-- <button mat-button>LIVE DEMO</button> -->
        </mat-card-actions>
    </mat-card>

    <!-- project 2 -->
    <mat-card class="example-card card-1" appearance="raised">
        <img mat-card-image src="meditation.png" alt="meditating">
        <mat-card-content>
          <p>
            Immerse yourself in tranquility with our curated collection of calming meditation sounds.
            Whether you’re seeking deep relaxation, stress relief, or better focus, our soothing soundscapes and nature-inspired audio tracks help you create the perfect environment for mindfulness and inner peace.
            Press play, breathe deeply, and let the calming sounds guide you to a peaceful state of mind.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://github.com/charingan/Meditation"
              matTooltip="My Github Profile"
              aria-label="icon that shows my github profile"
              matTooltipPosition="left"
              target="_blank"
          >
              <i class="fa-brands fa-github"></i>
              GITHUB
          </a>
          <!-- <button mat-button>LIVE DEMO</button> -->
        </mat-card-actions>
    </mat-card>

    <!-- project 3 -->
    <mat-card class="example-card card-3" appearance="raised">
        <img mat-card-image src="3d.png" alt="3d portfolio">
        <mat-card-content>
          <p>
            Step into my world of 3D design, where every scene is crafted with passion and precision using Blender.
            This portfolio showcases my original renders — from detailed models to cinematic compositions — blending creativity and technical skill to bring imagination to life.
            Explore my work and experience the stories told through light, texture, and form.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://github.com/charingan/3dPortfolio"
              matTooltip="My Github Profile"
              aria-label="icon that shows my github profile"
              matTooltipPosition="left"
              target="_blank"
          >
              <i class="fa-brands fa-github"></i>
              GITHUB
          </a>
          <!-- <button mat-button>LIVE DEMO</button> -->
        </mat-card-actions>
    </mat-card>
</div>