<div class="project-title">
  <h2>Projects</h2>
</div>
<div class="project">


  <!-- project 1 -->
  <mat-card class="example-card card-2" appearance="raised">
    <img mat-card-image src="resume-builder.png" alt="ai resume">
    <mat-card-content>
      <p>
        AI-Powered Resume Builder
        Create a standout resume effortlessly with our AI-driven resume builder.
        Simply enter your details, and our intelligent system generates a professional, personalized resume tailored to
        your career goals.
        Whether you’re applying for your first job or aiming for a promotion
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/charingan/resume-builder" target="_blank">
        <i class="fa-brands fa-github"></i>
        GITHUB
      </a>
      <!-- <a href="https://github.com/charingan/resume-builder"
            target="_blank"
          >
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            LIVE DEMO
          </a> -->
    </mat-card-actions>
  </mat-card>

  <!-- project 2 -->
  <mat-card class="example-card card-1" appearance="raised">
    <img mat-card-image src="Local-prod.png" alt="meditating">
    <mat-card-content>
      <p>
        An e-commerce platform dedicated to showcasing and selling the authentic local products
        of Berkane and its cooperatives. Connecting consumers directly with local producers, the platform
        supports the regional economy by bringing traditional citrus fruits, handcrafted goods, and
        cooperative specialties to a wider audience
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/charingan/local-products" matTooltip="My Github Profile"
        aria-label="icon that shows my github profile" matTooltipPosition="left" target="_blank">
        <i class="fa-brands fa-github"></i>
        GITHUB
      </a>
      <!-- <a href="https://github.com/charingan/resume-builder"
            target="_blank"
          >
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            LIVE DEMO
          </a> -->
    </mat-card-actions>
  </mat-card>

  <!-- project 3 -->
  <mat-card class="example-card card-3" appearance="raised">
    <img mat-card-image src="Backoffice.png" alt="3d portfolio">
    <mat-card-content>
      <p>
        A comprehensive back-office management system designed to streamline the administration
        of the e-commerce platform. Enabling managers to efficiently oversee products, orders,
        users, and cooperative data — all from a centralized and intuitive dashboard built
        for seamless day-to-day operations.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/charingan/backoffice-waste-manager" matTooltip="My Github Profile"
        aria-label="icon that shows my github profile" matTooltipPosition="left" target="_blank">
        <i class="fa-brands fa-github"></i>
        GITHUB
      </a>
      <!-- <a href="https://github.com/charingan/resume-builder"
            target="_blank"
          >
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            LIVE DEMO
          </a> -->
    </mat-card-actions>
  </mat-card>
</div>