<div class="home-container">
    <div class="home-image-container">
        <img src="https://i.pinimg.com/736x/56/b5/5f/56b55f9297128dc1e526163065184654.jpg" alt="Hamza">
    </div>

    <div class="home-text">
        <p>Hi, I'm</p>
        <h1>Hamza Boughrara</h1>
        <p class="fe-dev">Frontend Developer</p>
        <div class="CV">
            <a href="cv/CV.pdf" download="My-CV.pdf" class="d-cv" mat-raised-button target="_blank">
                <i class=" fas fa-sharp fa-regular fa-file-arrow-down"></i>
                 Download CV
            </a>
            <a (click)="scrollToSection('footer')" class="contact-info" mat-stroked-button target="_blank">
                <i class="fas fa-solid fa-circle-info"></i> 
                Contact Info
            </a>
        </div>
        <div class="socials">
            <a href="https://github.com/charingan"
                matTooltip="My Github Profile"
                aria-label="icon that shows my github profile"
                matTooltipPosition="left"
                target="_blank"
            >
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/boughrara-hamza-a79715223/"
                matTooltip="My LinkedIn Profile"
                aria-label="icon that shows my linkedin profile"
                matTooltipPosition="right"
                target="_blank"
            >
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </div>
    </div>
</div>